html {
  color: var(--color-ink);
  background: var(--color-bg);
}
button {
  line-height: var(--tall-line-height);
  color: var(--color-3d-ink);
  background: var(--color-3d-bg);
  border-radius: var(--pad-3);
  border-color: var(--color-3d-border);
  border-bottom-color: var(--color-3d-bottom);
  border-top-color: var(--color-3d-top);
  text-shadow: 0px 1px 0.7px #fffa;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--color-3d-ink-hover);
    background: var(--color-3d-bg-hover);
  }

  &:active {
    color: var(--color-3d-ink-active);
    background: var(--color-3d-bg-active);
    border-top-color: var(--color-3d-bottom);
    border-bottom-color: var(--color-3d-top);
    text-shadow: 0px 1px 0.7px #fffc;
  }
}

fieldset {
  max-width: 16rem;
  border-radius: var(--pad-4);
}

li {
  line-height: var(--tall-line-height);
}
