:root {
  --font-size: 16px;
  --h1-font-size: 36px;
  --h2-font-size: 32px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --line-height-factor: 1.25;
  --tall-line-height-factor: 1.5;
  --pad-1: calc(var(--font-size) / 10);
  --pad-2: calc(var(--font-size) / 5);
  --pad-3: calc(var(--font-size) / 3);
  --pad-4: calc(var(--font-size) / 2);

  --line-height: calc(var(--line-height-factor) * var(--font-size));
  --tall-line-height: calc(var(--tall-line-height-factor) * var(--font-size));

  --h1-line-height: calc(var(--tall-line-height-factor) * var(--h1-font-size));
  --h2-line-height: calc(var(--tall-line-height-factor) * var(--h2-font-size));
  --h3-line-height: calc(var(--tall-line-height-factor) * var(--h3-font-size));
  --h4-line-height: calc(var(--tall-line-height-factor) * var(--h4-font-size));
}
